EXT_PUBLIC_SITE_ENV=development

NEXT_PUBLIC_STUDIO_URL=http://localhost:3333/
NEXT_PUBLIC_SITE_URL=http://localhost:3000/

NEXT_PUBLIC_SANITY_PROJECT_ID=project_id
NEXT_PUBLIC_SANITY_DATASET=dataset
SANITY_API_READ_TOKEN=read_token
NEXT_PUBLIC_SANITY_API_VERSION=2025-04-16

NEXT_RESEND_FROM_EMAIL=web@domain.com
RESEND_API_KEY=resend_api_key